
@media only screen and (max-width: 575px){
    body {
        font-size: 14px;
    }  
    $i: 1;
    @while $i < 13 {
        .col-sm-#{$i} {
        width: 100% / 12 * $i;
        $i: $i + 1;
        }
    }        
}
@media only screen and (min-width: 576px){
    body {
        font-size: 16px;
    }  
    $i: 1;
    @while $i < 13 {
        .col-md-#{$i} {
        width: 100% / 12 * $i;
        $i: $i + 1;
        }
    }       
}
@media only screen and (min-width: 992px){
    body {
        font-size: 18px; 
    }  
    $i: 1;
    @while $i < 13 {
        .col-lg-#{$i} {
        width: 100% / 12 * $i;
        $i: $i + 1;
        }
    }   
}
@media only screen and (min-width: 1200px){
    body {
        font-size: 20px;
    }
    $i: 1;
    @while $i < 13 {
        .col-xl-#{$i} {
        width: 100% / 12 * $i;
        $i: $i + 1;
        }
    }         
}